annotation {
	uri 'http://vocab.lappsgrid.org/Annotation'
	description "Linguistic information added to a word, phrase, clause, sentence, document, etc., or a relation among them."
}
chunk {
	uri 'http://vocab.lappsgrid.org/Chunk'
	description "Any type of annotations that segments the primary data into chunks."
}
paragraph {
	uri 'http://vocab.lappsgrid.org/Paragraph'
	description "Definition needed."
}
sentence {
	uri 'http://vocab.lappsgrid.org/Sentence'
	description "A sequence of words capable of standing alone to make an assertion, ask a question, or give a command, usually consisting of a subject and a predicate containing a finite verb. "
}
token {
	uri 'http://vocab.lappsgrid.org/Token'
	description "A string of one or more characters that serves as an indivisible unit for the purposes of morpho-syntactic labeling (part of speech tagging)."
}
pos {
	uri 'http://vocab.lappsgrid.org/Token#pos'
	description "Part-Of-Speech tag. The tagset used should be specified in metadata."
}
coref {
	uri 'http://vocab.lappsgrid.org/Coreference'
	description "Used to mark references to other mentions of the same entity or instance."
}
ne {
	uri 'http://vocab.lappsgrid.org/NamedEntity'
	description "A phrase that clearly identifies an individual from others that have similar attributes, such as the name of a person, organization, location, artifact, etc. as well as temporal expressions."
}
person {
	uri 'http://vocab.lappsgrid.org/Person'
	description "The name of a person or family."
	deprecated "Use <link>NamedEntity</link> with appropriate @category and @type attributes instead. This annotation type will be removed in a future version of the vocabulary. "
}
location {
	uri 'http://vocab.lappsgrid.org/Location'
	description "Name of politically or geographically defined location (cities, provinces, countries, international regions, bodies of water, mountains,named regions, etc.)"
	deprecated "Use <link>NamedEntity</link> with appropriate @category and @type attributes instead. This annotation type will be removed in a future version of the vocabulary. "
}
date {
	uri 'http://vocab.lappsgrid.org/Date'
	description "A reference to a date or period."
	deprecated "Use <link>NamedEntity</link> with appropriate @category and @type attributes instead. This annotation type will be removed in a future version of the vocabulary. "
}
organization {
	uri 'http://vocab.lappsgrid.org/Organization'
	description "A named corporate, governmental, educational, religious, political, or other organizational entity."
	deprecated "Use <link>NamedEntity</link> with appropriate @category and @type attributes instead. This annotation type will be removed in a future version of the vocabulary. "
}
nchunk {
	uri 'http://vocab.lappsgrid.org/NounChunk'
	description "The initial portion of a non-recursive noun phrase up to the head, including determiners but not including postmodifying prepositional phrases or clauses."
}
vchunk {
	uri 'http://vocab.lappsgrid.org/VerbChunk'
	description "Non-recursive verb groups, which include modals, auxiliary verbs, and medial adverbs, and end at the head verb or predicate adjective."
}
lemma {
	uri 'http://vocab.lappsgrid.org/Token#lemma'
	description "Base form of a word or token."
}
lookup {
	uri 'http://vocab.lappsgrid.org/Lookup'
	description "Dictionary based annotations. Used in GATE."
}
matches {
	uri 'http://vocab.lappsgrid.org/Matches'
	description "Definition needed."
}
markable {
	uri 'http://vocab.lappsgrid.org/Markable'
	description "Annotation type used if the referenced object is not already wrapped in a suitable annotation type that can be referenced."
}
"dependency-structure" {
	uri 'http://vocab.lappsgrid.org/DependencyStructure'
	description "A container for all dependency structure information."
}
"phrase-structure" {
	uri 'http://vocab.lappsgrid.org/PhraseStructure'
	description "A container for phrase structure information."
}
constituent {
	uri 'http://vocab.lappsgrid.org/Constituent'
	description "A constituent of a <link>PhraseStructure</link> (parse tree)."
}
dependency {
	uri 'http://vocab.lappsgrid.org/Dependency'
	description "A dependency in a <link>DependencyStructure</link>"
}
thing {
	uri 'http://vocab.lappsgrid.org/Thing'
	description "The most generic specification."
}
region {
	uri 'http://vocab.lappsgrid.org/Region'
	description "An annotation over a region in primary data. A <b>Region</b> may be defined by pointing directly into primary data (for text, using <em>start</em> and <em>end</em> offsets) or by linking to one or more other <link>Annotation</link>s with the <em>targets</em> property."
}
relation {
	uri 'http://vocab.lappsgrid.org/Relation'
	description "Definition needed."
}
"generic-relation" {
	uri 'http://vocab.lappsgrid.org/GenericRelation'
	description "Any relation involving one or more arguments."
}
"semantic-role" {
	uri 'http://vocab.lappsgrid.org/SemanticRole'
	description "The underlying relationship that a participant has with the main predicate in a clause."
}
/*
document {
	uri 'http://vocab.lappsgrid.org/Document'
	description "Any electronic media content (other than computer programs or system files), including text (language), audio recordings, images, videos, web pages, etc. A document may consist of several physical computer files."
}
*/
"text-document" {
	uri 'http://vocab.lappsgrid.org/TextDocument'
	description "Any electronic media content consisting of text (language). A text document may consist of several physical computer files."
}
"audio-document" {
	uri 'http://vocab.lappsgrid.org/AudioDocument'
	description "Any electronic media content consisting of audio (language). An audio document may consist of several physical computer files."
}
